body.react {
  --brand-primary: $sun-flower;
  --brand-secondary: $brand-secondary;
  --brand-success: $brand-success;
  --brand-warning: $brand-warning;
  --brand-danger: $brand-danger;
  --brand-info: $brand-info;

  --sidebar-bg: $navbar-inverse-bg;
  --sidebar-bg-secondary: $navbar-inverse-border;
  --sidebar-text: $inverse;
  --sidebar-text-lighter: $white-darker;

  --brand-inverse-text: $inverse;
  --brand-primary-lite-bg-color: $inverse;
  --brand-primary-text-color: $text-color;
  --brand-dark-bg-color: $dark;
  --brand-dark-bg-color-transparent: $dark-transparent;
  --brand-bg-lite-transparent: $inverse-transparent;

  --link-primary-color: var(--brand-primary);
  --link-primary-hover-color: var(--brand-primary);

  --navbar-bg-color: $white-dark-transparent;
  --navbar-text-color: $text-color;
  --navbar-link-color: var(--link-primary-color);
  
  --list-group-item-text: #eee;
  --list-group-item-text-hover: #fff;
  --list-group-item-bg: #111;
  --list-group-item-bg-hover: #222;
  --list-group-item-border: #222;

  --player-controls-bar-bg: #111;

  --app-bg-color: $body-bg;
}